{% extends 'base.html' %}

{% block title %}eHeijunka Login{% endblock %}


{% block links %}
    <link href="/static/css/login.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
    {% load static from staticfiles %}
    <div class="row col-md-6 offset-md-3" style="background-color: rgba(55,58,52,0.5); padding:50px;">
        <div id="alert-zone" class="alert {{ alertType }}" role="alert" style="width:100%">{{alertMessage}}
        </div>
        <div class="card" style="width: 100%">
            <div id = "login-logo" class="card-header" style="height:80px;color: #fff;text-align: center;"> <img src={% static "img/bosch_logo.png" %}></div>

            <div class="card-body" style="background-color: #e6e6e6;">

                <h2 id="headertext" style="text-align: center">Welcome to eHeijunka</h2>
                {% if not user.is_authenticated %}
                    <form method="POST" class="block-center" style="font-weight: bold">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row">
                                {% for each_error in field.errors %}
                                    <div id="alert-zone" class="alert alert-warning" role="alert" style="width:100%">{{each_error}}
                                    </div>
                                {% endfor %}
                                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label"><span style="font-weight: bold;font-size:20px;color: #a51c30; vertical-align: top;">* </span>{{ field.label }} :</label>
                                <div class="col-md-8">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-4 offset-md-8">
                            <button id="loginBtn" type="submit" class="btn" style="background-color:#ff0002;color:white;width: 100%;">LOGIN</button>
                        </div>
                    </form>
                {% else %}
                    <h2 style="text-align: center">{{ user }}<br> already Logged in</h2>
                {% endif %}
            </div>
        </div>
        <div><h6 style="vertical-align: top; text-align: left; padding: 10px; padding-bottom:50px;"><span>* </span>Required Fields</h6></div>
    </div>
{% endblock %}