
{% extends 'base.html' %}

{% block title %}eHeijunka Dashboard{% endblock %}

{% block links %}
    <link href="/static/css/dashboard.css" rel="stylesheet"/>
    {% endblock %}

{% block content %}
<!--<iframe width="1400" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiY2Y2YTQ0ZGYtNWNkZS00MDM0LTk0NGQtZTQzYzEzMjg4MTM0IiwidCI6IjMwNTgzMDQ1LWVkMDAtNGQ0YS1iOGRkLTY5OWE1MTk1Y2RjYiJ9" frameborder="0" allowFullScreen="true"></iframe>-->
<!--<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZGMxNjVlY2MtYmM2ZC00NWZiLTljNDYtMDliMzZmZDFjNjc0IiwidCI6IjMwNTgzMDQ1LWVkMDAtNGQ0YS1iOGRkLTY5OWE1MTk1Y2RjYiJ9" frameborder="0" allowFullScreen="true"></iframe>-->
<!--<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMDBiMzQ2ZTgtZDg3ZS00MjdmLWFkMGMtZDdkMWU1YmViNDE2IiwidCI6IjMwNTgzMDQ1LWVkMDAtNGQ0YS1iOGRkLTY5OWE1MTk1Y2RjYiJ9" frameborder="0" allowFullScreen="true"></iframe>-->
<div style="align: center;">
    <!--<iframe width="1500" height="800" align="center" src="https://app.powerbi.com/view?r=eyJrIjoiZGMxNjVlY2MtYmM2ZC00NWZiLTljNDYtMDliMzZmZDFjNjc0IiwidCI6IjMwNTgzMDQ1LWVkMDAtNGQ0YS1iOGRkLTY5OWE1MTk1Y2RjYiJ9" frameborder="0" allowFullScreen="true"></iframe>-->
<iframe width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMmI3MWM5OGQtNTk2Mi00OTRkLWFhNjItMDE5ZWM3YTQ3NjFmIiwidCI6IjMwNTgzMDQ1LWVkMDAtNGQ0YS1iOGRkLTY5OWE1MTk1Y2RjYiJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}
