<div class="col-md-2">
        <h2>Menu</h2>
        <ul class="accordion-menu" style="margin-left: 80px">
            <li>
                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> Create Guest Account
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> Register Device
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> Create Multiple
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i> Manage Devices
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>

            </li>
            <li>

        </ul>
    </div>