.block-center{
    display: inline-block;
    text-align: left;
    padding:40px;
    font-weight: bold;

}

.content{
    padding: 40px;
    margin: 40px;
}

.form-control:focus{border-color: #b83153;  box-shadow: none; -webkit-box-shadow: none;}
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

.col-form-label{
    text-align: right;
}

.header-base {
    position: relative;
    z-index: 8
}

.header-base--has-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80px;
    min-height: 380px;
    background-image:url("/static/img/bg-3.jpg")!important;
}


body{

    background-color: #ffffff;
    text-align: center;
}
